body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: url('https://pbs.twimg.com/media/GSpu9tRXUAAE9oZ?format=jpg&name=orig') no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    color: #333;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 15px 30px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar .user-info {
    display: flex;
    align-items: center;
}

.navbar .user-info img {
    border-radius: 50%;
    margin-right: 10px;
}

.navbar .user-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.navbar .user-details span {
    text-align: left;
    display: block;
}

.navbar nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: inline-block;
    margin-right: 10px;
}

.navbar nav a:hover {
    background-color: #ca5050;
    transform: scale(1.1);
}

.navbar nav a.logout {
    background-color: #ca5050;
}

.navbar nav a.logout:hover {
    background-color: #a94444;
    transform: scale(1.1);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown .dropbtn {
    background-color: #000000;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.dropdown .dropbtn:hover {
    background-color: #333333;
    transform: scale(1.1);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #4d4949;
    min-width: 200px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
}

.dropdown-content a {
    color: white;
    background-color: #4d4949;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
    background-color: #ca5050;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.container {
    text-align: center;
    background-image: url('https://pbs.twimg.com/media/GSoKUAZW8AAvP6n?format=jpg&name=orig');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 220px 350px;
    max-width: 1000px;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 80px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px 0;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.buttons button {
    padding: 50px;
    font-size: 1.4em;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    background-color: #28a745;
    color: white;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons button:hover {
    background-color: #218838;
    transform: translateY(-10px);
}

.buttons button .button-icon {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.button-estudiante-opciones{
    background-color:  #218838 !important;
    color: white !important;
    border-color: #218838 !important;
    width: 80% !important;
    height: 120% !important;
}
.align-buttons-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-estudiante-opciones:hover {
    opacity: 0.9;
    transform: translateY(-10px);
}
